<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- Class binding, add and remove CSS conditionally [class.some-css-class]="some-condition" -->
    <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!-- // Like declaring a component and passing the props -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>